/* GLOBAL VARIABLE DEFINITIONS */

$font-family: Verdana, Lucida, sans-serif;
$font-weight: normal;

$color-primary: #aaa;
$color-secondary: #bbb;
$color-tertiary: #ccc;

$font-color: #666666;
$font-color-heading: #00B0D8;

$link-colour: #00B0D8;
$link-colour-hover: #00B0D8;


// The main page background variables
$background-color: #fff;



